* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #f0f2f5;
  padding: 0 16px;
}

header {
  background: linear-gradient(45deg, #ff6f61, #f5ba13);
  margin: -16px -16px 20px -16px;
  padding: 20px 32px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

header h1 {
  color: #fff;
  font-family: fantasy;
  font-weight: 300;
  font-size: 2em;
}

footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  background: #333;
  color: #ccc;
  margin-top: 40px;
}

footer p {
  margin: 0;
}

.note {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: calc(100% / 3 - 32px); /* Adjust for three columns */
  margin: 16px 0.5%; /* Adjust margin for spacing */
  float: left;
  transition: transform 0.2s;
}

@media (min-width: 768px) {
  .note {
    width: calc(50% - 32px); /* Two columns */
    margin: 16px 1%; /* Adjust margin for spacing */
  }
}
@media (min-width: 420px) {
  .note {
    width: 100% ;/* Two columns */
    margin: 16px 1%; /* Adjust margin for spacing */
  }
}

@media (min-width: 1200px) {
  .note {
    width: calc(33.333% - 32px); /* Three columns */
    margin: 16px 0.5%; /* Adjust margin for spacing */
  }
}

.note:hover {
  transform: scale(1.05);
}

.note h1 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}

.note p {
  font-size: 1em;
  margin-bottom: 10px;
  color: #555;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #ff6f61;
  background: none;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  transition: color 0.2s;
}

.note button:hover {
  color: #d9534f;
}
form {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form input,
form textarea {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 1em;
  font-family: inherit;
  resize: none;
  transition: border-color 0.2s;
}

form input:focus,
form textarea:focus {
  border-color: #ff6f61;
}

form button {
  position: absolute;
  right: 20px;
  bottom: -20px;
  background: #ff6f61;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s;
}

form button:hover {
  background-color: #e05a4f;
}
